.navStyle {
 
  height: 80px;
  /* margin-top: -80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;


  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
  margin-left: -5%;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;

}

.navLink {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
 
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  
}
/* .navlink.active {
  border-bottom: 3px solid #ffc107;
} */

.logoNav {
 
 
  background-size: cover;
}

.navlink:hover {
  color: #ffc107;
  transition: 0.2s ease-in-out;
}


.navBtnLink {
  border-radius: 50px;
  background: #ffc107;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 70%;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
 
}
.navBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.navBtn {
  display: flex;
  align-items: center;
}